body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    background-color: #474444;
  }
  
  a {
    color: #000;
  }
  
  /* header */
  
  .header {
    background-color: #1f5156;
    box-shadow: 1px 1px 4px 0 #f5b921;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #1f5156;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f5b921;
    text-decoration: none;
    margin-top: 10px;

  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f5b921;
  }
  
  .header .logo {
    display: block;
    float: left;
    padding: 10px 20px;
    text-decoration: none; 
    height: 5%;
    width: 5%;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 300px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
/* 48em = 768px */
  @media (min-width: 48em) {
      
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
     
    }
    .header .menu-icon {
      display: none;
    }
  }


  .blockquote-wrapper {
    display: flex;
    height: 100vh;
    padding: 0 20px;
 }
 
 /* Blockquote main style */
 .blockquote {
     position: relative;
     font-family: 'Barlow Condensed', sans-serif;
     max-width: 620px;
     margin: 80px auto;
     align-self: center;
 }
 
 /* Blockquote header */
 .blockquote h1 {
     font-family: 'Abril Fatface', cursive;
     position: relative; /* for pseudos */
     color: #f5b921;
     font-size: 2.8rem;
     font-weight: normal;
     line-height: 1;
     margin: 0;
     border: 2px solid #fff;
     border: solid 2px;
     border-radius:20px;
     padding: 25px;
 }
 
 /* Blockquote right double quotes */
 .blockquote h1:after {
     content:"";
     position: absolute;
     border: 2px solid #f5b921;
     border-radius: 0 50px 0 0;
     width: 60px;
     height: 60px;
     bottom: -62px;
     left: 50px;
     border-bottom: none;
     border-left: none;
     z-index: 3; 
 }
 
 .blockquote h1:before {
     content:"";
     position: absolute;
     width: 80px;
     border: 6px solid #292a2b;
     bottom: -3px;
     left: 50px;
     z-index: 2;
 }
 
 /* increase header size after 600px */
 @media all and (min-width: 600px) {
     .blockquote h1 {
         font-size: 3rem;
         line-height: 1.2;
    }
 
 }
 
 /* Blockquote subheader */
 .blockquote h4 {
     position: relative;
     color: #ffffff;
     font-size: 1.3rem;
     font-weight: 400;
     line-height: 1.2;
     margin: 0;
     padding-top: 15px;
     z-index: 1;
     margin-left:150px;
     padding-left:12px;
 }
 
  
 .blockquote h4:first-letter {
   margin-left:-12px;
 }

  

/* table */
table {
  border: 3px solid #f5b921;
  border-collapse: collapse;
  border-radius: 10%;
  width: 50%;
  table-layout: fixed;
  margin-top: 17%;
  margin-left: auto;
  margin-right: auto;
  padding: auto;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #f5b921;
  padding: .35em;
  margin-top: 20%;
 
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #f5b921;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #f5b921;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
  
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}


/* table */
/* buttons */
.btna {
  padding: 1em 2.1em 1.1em;
  border-radius: 3px;
  margin: 8px 8px 8px 8px;
  color: #fbdedb;
  background-color: #fbdedb;
  display: inline-block;
  background: #473ce7;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-family: sans-serif;
  font-weight: 800;
  font-size: .85em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  position: relative;
}
.btna:hover, .btna:focus {
  opacity: 0.8;
}
.btna:active {
  -webkit-transform: scale(0.80);
  -moz-transform: scale(0.80);
  -ms-transform: scale(0.80);
  -o-transform: scale(0.80);
  transform: scale(0.80);
}
.btna.block {
  display: block !important;
}
.btna.circular {
border-radius: 50em !important;
}


/* foteer */
.footer{
  text-align: center;
  position: sticky;
  bottom: 0;
}

/* page add */
.box_add{
  border: 3px solid #f5b921 ;
  background-color: #1f5156;
  max-width: 50%;
  height: 380px;
   display:flex;
   align-items: center;
   justify-content: center;
   margin-left: 15%;
   margin-top: 15%;
   padding: 10%;
}
.box_add .form{
  background-color: #1f5156;
}

.texta{
width: 100%;
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;
}
.textarea{
width: 100%;
height: 200px;
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;

}
.labpro{
color: rgb(228, 233, 193);
}
.lapdesc{
color: rgb(228, 233, 193);
}
.sub{
  padding: 1em 2.1em 1.1em;
  border-radius: 3px;
  margin: 8px 8px 8px 8px;
  color: #f0f0f0;
  background-color: #f5b921;
  display: inline-block;
  background: #1f5156;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-family: sans-serif;
  font-weight: 800;
  font-size: .85em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  position: relative;
}
.sub:hover, .sub:focus {
  opacity: 0.8;
}
.sub:active {
  -webkit-transform: scale(0.80);
  -moz-transform: scale(0.80);
  -ms-transform: scale(0.80);
  -o-transform: scale(0.80);
  transform: scale(0.80);
}
.sub.block {
  display: block !important;
}
.sub.circular {
border-radius: 50em !important;
}